<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Accueil</title>
    <link type="text/css" rel="stylesheet" href="/phybox.css">
    <script type="application/x-javascript" src="/phybox.js"></script>
  </head>

  <style>
     img.icon.big { width: 45px !important; height: 45px !important; padding-right: 15px !important;}
     #Article p.flex  { align-items: end; padding-left:0; }
     #Article p.list:before { content: ""; }
     .butWrap { align-self: start; }
  </style>

  <body class="h" onload="init(0)"> 

    <div id="Article" onload="init()">
       <p class="title">Applications &nbsp &nbsp Gallery</p>
       <BR>

       <p class="list flex"><span class="butWrap"><span><img src="/icon/status-app.svg" class="button icon back white big"></span></span><span> &nbsp&nbsp </span><span> The Gallery Viewer displays all the applications offered in the PhYBoX which are grouped into categories : </span></p>

       <BR>
       <img src="/image/box/view-app.en.jpg" class="center" style="width: 70%;">

       <p class="text"></p>
    </div>
  </body>
</html>
