<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Accueil</title>
    <link type="text/css" rel="stylesheet" href="/phybox.css">
    <script type="application/x-javascript" src="/phybox.js"></script>
  </head>

  <style>
     img.icon.big { width: 40px !important; height: 40px !important; padding-right: 15px !important; }
     #Article p.flex  { align-items: end; padding-left:0; }
     #Article p.list:before { content: ""; }
     .butWrap { align-self: start; }
  </style>

  <body class="h" onload="init()"> 

    <div id="Article" onload="init()">
       <p class="title">Library</p>
       <BR>

       <p class="list flex"><span class="butWrap"><span><img src="/icon/status-wiki.svg" class="button icon back white big"></span></span><span> &nbsp&nbsp </span><span> &nbsp; The Library Viewer provides local access to various collaborative content such as Wikipedia, identical to their online version :</span></p>

       <BR>
       <img src="/image/doc/kiwix-vikidia.en.jpg" class="center" style="width: 70%;">

       <BR>
       <p class="text">Refer to the <span class="yellow">Applications -> Library</span> section to learn how to use it.</p>

       <p class="text"></p>

       <p class="text"></p>
    </div>
  </body>
</html>
